matplotlib==3.3.4
mediapipe==0.8.3
multi-person-tracker @ git+https://github.com/mkocabas/multi-person-tracker.git@2803ac529dc77328f0f1ff6cd9d36041e57e7288
natsort==8.2.0
networkx==2.5.1
numba==0.53.1
numpy==1.19.3
oauth==1.0.1
onnx==1.12.0
onnxruntime==1.10.0
opencv-python==4.6.0.66
pandas==1.1.5
pathlib==1.0.1
Pillow==8.4.0
Polygon3==3.0.8
protobuf==3.19.4
PyYAML==6.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
tensorboard==2.10.0
tf2onnx==1.12.1
torch==1.10.1
torchsummary==1.5.1
torchvision==0.11.2
tqdm==4.63.0
typing_extensions==4.1.1
